<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>BringItBack</title>
  <!-- Google Fonts -->
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', :media => "all" %>
  <%= stylesheet_link_tag "application", 'http://fonts.googleapis.com/css?family=Muli:300,400', :media => "all" %>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Monoton', :media => "all" %>
  <!-- Google Fonts -->
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/header' %>

<%= yield %>

<%= render 'shared/footer' %>
</body>

</html>
